@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Font-face definitions */
@font-face {
	font-family: 'DM Sans';
	src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Nohemi';
	src: url('/fonts/Nohemi-VF.ttf') format('truetype');
	font-weight: 350;
	font-style: normal;
}

/* 🌞 Default Light Mode */
:root {
	--primary-accent: #10312b; /* Pantone 627 C */
	--primary-accent-light: #e5e1e6; /* Pantone 663 C */
	--primary-accent-dark: #50605d; /* Pantone 433 C */
	--secondary-accent: #efc2b3; /* Pantone 489 C */
	--hover-accent: rgba(16, 49, 43, 0.55); /* 55% opacity of primary accent */
	--card-bg: #d0cfd3;
	--chip-bg: #b9b8ba;
	--background: #e5e1e6;

	--error-bg: #ffcccc;
	--error-text: #a00;

	--font-body: 'DM Sans', sans-serif;
	--font-heading: 'Nohemi', sans-serif;
}

/* Custom Selection Color */
::selection {
	background: var(--primary-accent);
	color: var(--background);
}

/* For Firefox */
::-moz-selection {
	background: var(--primary-accent);
	color: var(--background);
}

/* 🌑 Dark Mode */
.dark-mode {
	--primary-accent: #e5e1e6;
	--primary-accent-light: #030a09;
	--primary-accent-dark: #9da7a5;
	--secondary-accent: #efc2b3;
	--hover-accent: #888389;
	--card-bg: #101c19;
	--chip-bg: #26413c;
	--background: #030a09;

	--error-bg: #5a1a1a;
	--error-text: #ffb3b3;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	overflow-x: hidden;
	color: var(--primary-accent);
	background-color: var(--background);
	font-family: var(--font-body);
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1.25rem;
}

blockquote {
	font-size: 1.25rem;
}

ul {
	font-size: 1.25rem;
}

.layout-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	max-width: 1600px;
	min-height: 100vh;
	margin: 0 auto;
	gap: 2rem;
	padding: 0 160px;
}

@media (max-width: 1024px) {
	/* Tablet */
	.layout-grid {
		grid-template-columns: repeat(8, 1fr);
		padding: 0 80px;
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 1.75rem;
	}

	h3 {
		font-size: 1.25rem;
	}
}

@media (max-width: 768px) {
	/* Mobile */
	.layout-grid {
		grid-template-columns: repeat(4, 1fr);
		padding: 0 20px;
		gap: 0;
	}

	h1 {
		font-size: 2.7rem;
		margin-top: 1rem;
	}

	h2 {
		font-size: 1.7rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	p {
		font-size: 1.12rem;
	}

	blockquote {
		font-size: 1.12rem;
	}

	ul {
		font-size: 1.12rem;
	}
}

.nav-wrapper {
	grid-column: span 12;
	margin-top: 2rem;
}

.layout-grid > slot {
	grid-column: span 12;
}

@media (max-width: 1024px) {
	.layout-grid > slot {
		grid-column: span 8;
	}
}

@media (max-width: 768px) {
	.layout-grid > slot {
		grid-column: span 4;
	}
}
