@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Font-face definitions */
@font-face {
	font-family: 'DM Sans';
	src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Nohemi';
	src: url('/fonts/Nohemi-VF.ttf') format('truetype');
	font-weight: 350;
	font-style: normal;
}

/* 🌞 Default Light Mode */
:root {
	--primary-accent: #10312b; /* Pantone 627 C */
	--primary-accent-light: #e5e1e6; /* Pantone 663 C */
	--secondary-accent: #efc2b3; /* Pantone 489 C */
	--hover-accent: rgba(16, 49, 43, 0.55); /* 55% opacity of primary accent */
	--card-bg: #d0cfd3;
	--font-body: 'DM Sans', sans-serif;
	--font-heading: 'Nohemi', sans-serif;
}

/* 🌑 Dark Mode */
.dark-mode {
	--primary-accent: #e5e1e6; /* Swap primary colors */
	--primary-accent-light: #10312b;
	--secondary-accent: #efc2b3;
	--card-bg: rgba(229, 225, 230, 0.1); /* Adjusted for dark mode */
	--background: #06100f; /* Dark background */
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	overflow-x: hidden;
	color: var(--primary-accent);
	background-color: var(--primary-accent-light);
	font-family: var(--font-body);
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}

.layout-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	max-width: 1600px;
	min-height: 100vh;
	margin: 0 auto;
	gap: 2rem;
	padding: 0 160px;
}

@media (max-width: 1024px) {
	/* Tablet */
	.layout-grid {
		grid-template-columns: repeat(8, 1fr);
		padding: 0 80px;
	}
}

@media (max-width: 768px) {
	/* Mobile */
	.layout-grid {
		grid-template-columns: repeat(4, 1fr);
		padding: 0 20px;
	}
}

.nav-wrapper {
	grid-column: span 12;
	margin-top: 2rem;
}

.layout-grid > slot {
	grid-column: span 12;
}

@media (max-width: 1024px) {
	.layout-grid > slot {
		grid-column: span 8;
	}
}

@media (max-width: 768px) {
	.layout-grid > slot {
		grid-column: span 4;
	}
}
